article{
    color: white;
   
}

.componentContainer{
    /* border:thick solid red; */
    height: 100vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;

    background-color:#253669;
    
}

.indComponent{
    border: thin solid black;
    flex-grow:1;
  
    color: white;
    outline: none;
    box-shadow: none;
    /* padding: 20px; */
    /* margin: -8px */
}

.header {
    width: 100vw;
    display: inline-block
}