/* :host styles whatever tag this is inside (we may not know) */
:host{
  color:white;
  display:inline-block;
}
section{
  background-color: darkslategray;
  border: 1px solid black;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
aside{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  background-color: #253669;
  /* margin-left:auto;
  margin-right:auto; */
  /* border: 1vw solid black; */
  padding:1vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
  margin: 1vw;
  border-radius: 20px;
  border: thin solid white
}
button{
  height: fit-content;
}
input {width: 42px;}
