  <div class="grafico">
    <div class="content">
        <div class="bars" *ngFor="let item of data">
            <span>{{item.price}}</span>
            <span>{{item.id}}</span>
            <span>{{item.size}}</span>
            <span>{{item.symbol}}</span>
            
            <div class="bar" [style.background-color]=this.randomColor() [ngStyle]="{height:'100px'}"></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="legends">
        <span *ngFor="let item of data">{{item.symbol}}</span>
    </div>

    <button (click)="showSizes()">sizes</button>
</div>
  
